:root {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #2F303A;
    --background-color-other: #F5F4FA;
    --text-color-primary: #757575;
    --text-color-secondary: #212121;
    --accent-color-primary: #2196F3;
    --active-color-primary: #188CE8;
    --accent-color-secondary: #FFFFFF;
    --accent-color-secondary-transparency: rgba(255, 255, 255, 0.6);
    --accent-color-other: #000000;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* header style */
.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--accent-color-primary);
}
.logo-header {
    color: var(--accent-color-other);
}
.site-nav {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.site-nav .link {
    color:var(--text-color-secondary);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color-primary);
}
.header-page .contacts {
    color: var(--text-color-primary);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.header-page .contacts:hover, .header-page .contacts:focus {
    color: var(--accent-color-primary);
}
.site-nav .current {
    color: var(--accent-color-primary);
}
/* footer style */
.footer-page {
    background-color: var(--background-color-secondary);
}
.logo-footer {
    color: var(--accent-color-secondary);
}
.address-list {
    color: var(--accent-color-secondary);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-page .contacts:hover, .footer-page .contacts:focus {
    color: var(--accent-color-primary);
}
.address-list .transparency {
    color: var(--accent-color-secondary-transparency);
}
/* studio style  */
.section-hero {
        background-color: var(--background-color-secondary);
        color: var(--accent-color-secondary);
}
.title-hero {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    text-transform: uppercase;
}
.button-call {
    color: var(--accent-color-secondary);
    background-color: var(--accent-color-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button-call:active {
    background-color: var(--active-color-primary);
}
.title-section {
    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
}
.features-title {
    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.section-team {
    background-color: var(--background-color-other);
}
.team-list {
    background-color: var(--background-color-primary);
}
.team-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}
/* portfolio style*/
.button-filter {
    color: var(--text-color-secondary);
    background-color:var(--background-color-other);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button-filter:hover, .button-filter:focus, .button-filter:active {
    color: var(--accent-color-secondary);
    background-color: var(--accent-color-primary);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section-portfolio .portfolio-title {
    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-portfolio .portfolio-text {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}